@media screen and (max-width: 1000px) {
    .registration-window {
        width: 500px;
    }
    .registration-pictuer {
        display: none;
    }
    .registration-form-footer {
        right: 15px;
        gap: 10px;
    }
    .info-popup {
        width: 335px;
    }
    .reset-widnow {
        right: 0;
        left: 50%;
        transform: translateX(-55%);
    }
    .terminal-window {
        right: 0;
        left: 50%;
        transform: translateX(-55%);  
    }
}