.game-area {
    display: none;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.person-contain {
    width: 500px;
    height: inherit;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-card {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.person-card-name {
    width: 100%;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);

    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-card-img {
    width: 95%;
    height: 300px;
    margin: 2% auto 2%;
    border: 1px solid black;
}
.person-card-img img{
    width: 100%;
    min-height: 300px;
}

.person-card-stats {
    width: 95%;
    height: 50px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.person-level-box {
    width: 180px;
    height: inherit;
    display: flex;
    align-items: center;
}
#personLevelText {
    font-size: 30px;
    font-weight: 300;
}

.person-card-skills-box {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.person-card-item-contain {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.person-card-class-contain {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

#personCardClassImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#personCardItemImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s ease;
}

/*enemy area*/
.enemy-contain {
    width: 100%;
    height: inherit;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enemy-contain-area {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.enemy-card {
    width: 200px;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
}

.enemySkillStyle {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}