.game-area {
    display: none;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.person-contain {
    width: 500px;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    box-shadow: 0 0 25px black;
    background-image: url('../media/bg/deskBg.jpg');
}

.person-card {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(116, 116, 116, 0.5);
    background-image: url('../media/bg/deskBg.jpg');
    background-size: contain;
}

.person-card-name {
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-card-img {
    position: relative;
    width: 95%;
    height: 300px;
    margin: 2% auto 2%;
}
.person-card>.prestige-contain {
    position: absolute;
    top: -22px;
    right: -22px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 1;
    animation: background-image rotate-prestige 10s infinite;
}
.person-card>.prestige-contain::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../media/pentagram.jpg');
    border-radius: 50%;
    background-size: contain;
    animation: rotate-prestige 10s infinite linear;
    animation-iteration-count: infinite;
  }
  .person-card>.prestige-contain span {
    z-index: 2;
  }
@keyframes rotate-prestige {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.person-card-img img{
    width: 100%;
    min-height: 300px;
}

.person-card-stats {
    width: 95%;
    height: 50px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.person-level-box {
    width: 180px;
    height: inherit;
    display: flex;
    align-items: center;
}
#personLevelText {
    font-size: 30px;
    font-weight: 300;
    transition: .5s;
}

.person-card-skills-box {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.person-card-item-contain {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.person-card-class-contain {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#personCardClassImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#personCardItemImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s ease;
}

.timer-box {
    width: 300px;
    margin: 10px auto;
}

#gameTimeText {
    text-align: center;
    font-size: 20px;
}

/*enemy area*/
.enemy-contain {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.enemy-contain-area {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.enemy-card {
    width: 200px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    background-image: url('../media/bg/deskBg.jpg');
    background-size: contain;
    box-shadow: 0 0 25px black;
    user-select: none;
}

.enemySkillStyle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}