.info-popup-fade {
	display: none;
}
.info-popup-fade:before {
	content: '';
	background: #000000d8;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 2;
}
.info-popup {
	position: fixed;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	padding: 20px;
	width: 500px;	
	background: rgb(194, 194, 194);
	box-shadow: 0 0 25px rgb(112, 112, 112);
    background-image: url('../media/bg/deskBg.jpg');
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
	color: white;
}
.info-popup a {
	color: rgb(194, 194, 194);
	text-decoration: none;
}
.info-popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
}
.info-popup-description {
    margin: 30px 0 30px 0;
}
.info-popup-description span {
    color: red;
    font-weight: bold;
}

.info-popup-footer-contain {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-popup-links {
    display: flex;
}

.info-popup-links ul {
    width: 100px;
    margin-left: 10px;
    display: flex;
    list-style: none;
    justify-content: space-between;
	gap: 10px;
}

/*items*/
.info-popup__item-contain {
	margin: 20px 0 50px;
	width: 100%;
}

.info-popup__item {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 10px;
	max-width: 100%;
	max-height: 30px;
	background-image: url('../media/bg/deskBg.jpg');
	box-shadow: 0 0 10px rgb(112, 112, 112);
	border-radius: 10px;
	overflow: hidden;
	transition: .3s;
	cursor: pointer;
}
.info-popup__item-title {
	width: 100%;
	justify-content: space-between;
	min-height: 30px;
	display: flex;
	align-items: center;
	pointer-events: none;
	font-size: 17px;
	margin-bottom: 5px;
}

.info-popup__item-discraption {
	width: 100%;
	padding: 0;
	overflow-y: scroll;
}

.show-item-discraption {
	min-height: 120px !important;
	padding: 10px;
	overflow: unset;
}
.info-popup__item-discraption p:not(:last-child) {
	margin-bottom: 10px;
}
.arrow-rotate {
	transform: rotate(90deg);
}

.info-popup__item-discraption::-webkit-scrollbar {
	width: 5px;
  }
  
  .info-popup__item-discraption::-webkit-scrollbar-track {
	background: rgb(112, 112, 112);
  }
  
  .info-popup__item-discraption::-webkit-scrollbar-thumb {  
	background: rgb(194, 194, 194);
	border-radius: 20px;
  }