.registration-window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 550px;
    background-color: rgb(194, 194, 194);
    box-shadow: 0 0 25px rgb(112, 112, 112);
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.registration-pictuer {
    width: 450px;
    height: inherit;
}
.registration-pictuer img {
    width: 450px;
    height: inherit;
}

.registration-form {
    width: 100%;
    height: 100%;

}
.registration-form-contain {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.registration-form-title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
}

.registration-form-name-contain {
    display: flex;
    align-items: center;
}
.registration-form-name-box input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background: none;
}
.registration-form-name-box legend{
    transform: translate(0,20px);
    transition: .5s ease;
    width: 170px;
    pointer-events: none;
}
.registration-form-name-box:hover legend{
    transform: translate(0,15px); 
}
.name-requirements-box span {
    color: black;
}
.name-requirements-box {
    height: 15px;
    cursor: help;
}

.registration-form-class-box {
    margin-top: 50px;
}
.class-contain {
    width: 250px;
    height: 50px;
    margin-top: 10px;
    display: flex;
}
.class-item {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
}

.registration-form-starting-item-box {
    margin-top: 50px;
}
.starting-item-contain {
    width: 250px;
    height: 50px;
    margin-top: 10px;
    display: flex;
}
.starting-item {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
}

.registration-form-footer {
    width: 100%;
    height: 50px;
    margin-top: 170px;
    display: flex;
    align-items: flex-end;
}
.registration-form-footer-signatuer-box {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#signatureCanvas {
    width: 200px;
    height: 50px;
    border-bottom: 1px solid black;
    display: block;
}

/* .registration-form-footer-start-btn {

} */
#startBtn {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*animations*/
.jerking-animation-class {
    animation: .5s jerking;
}
.name-box-validation {
    animation: 2s nameValidation;
}

@keyframes jerking {
    0% {
        transform: translate(-2px,0);
    }
    25% {
        transform: translate(3px,0);
    }
    50% {
        transform: translate(-2px,0);
    }
    75% {
        transform: translate(3px,0);
    }
    100% {
        transform: translate(0px,0);
    }
}

@keyframes nameValidation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}