.registration-window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 550px;
    background-color: rgb(194, 194, 194);
    box-shadow: 0 0 25px rgb(112, 112, 112);
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../media/bg/deskBg.jpg');
    background-size: contain;
    border-radius: 15px;
    overflow: hidden;
    color: rgb(194, 194, 194);
}

.registration-pictuer {
    width: 450px;
    height: inherit;
}
.registration-pictuer img {
    width: 450px;
    height: inherit;
}

.registration-form {
    width: 100%;
    height: 100%;

}
.registration-form-contain {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.registration-form-title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
}

.registration-form-name-contain {
    display: flex;
    align-items: center;
}
.registration-form-name-box input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
    background: none;
}
.registration-form-name-box legend{
    transform: translate(0,20px);
    transition: .5s ease;
    width: 170px;
    pointer-events: none;
}
.registration-form-name-box:hover legend{
    transform: translate(0,15px); 
}
.name-requirements-box span {
    color: rgb(194, 194, 194);
}
.name-requirements-box {
    height: 15px;
    cursor: help;
}

.registration-form-castomize-contain {
    display: flex;
    margin-top: 50px;
}
.registration-form-person-settings {
    max-width: 230px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.class-contain {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.class-item {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.class-item img{
    width: 100%;
    height: inherit;
    border-radius: 50%;
}

.registration-form-starting-item-box {
    margin-top: 50px;
}
.starting-item-contain {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.starting-item {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    gap: 15px;
}
.starting-item img {
    width: 100%;
    height: inherit;
    border-radius: 50%;
}

/* avatar carousel */

.registration-form-person-avatar {
    width: 250px;
    height: 300px;
    background-color: rgb(194, 194, 194);
    box-shadow: 0 0 25px rgb(0, 0, 0);
    background-image: url('../media/bg/deskBg.jpg');
    display: flex;
    flex-direction: column;
}

.person-avatar-contain {
    width: 230px;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
}

.person-avatar-imgBox img{
    width: 230px;
}
.person-avatar-imgBox div {
    width: 100%;
    gap: 10px;
    transition: .3s;
}

.arrow-contain {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow-contain span {
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

.default-carousel {
    display: none;
}
.mainer-carousel {
    display: none;
}
.witcher-carousel {
    display: none;
}
.vampir-carousel {
    display: none;
}

/* footer */

.registration-form-footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 50px;
    margin-top: 170px;
    display: flex;
    align-items: flex-end;
}
.registration-form-footer-signatuer-box {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#signatureCanvas {
    width: 200px;
    height: 50px;
    border-bottom: 1px solid rgb(194, 194, 194);
    display: block;
    cursor: crosshair;
}

#startBtn {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*animations*/
.jerking-animation-class {
    animation: .5s jerking;
}
.name-box-validation {
    animation: 2s nameValidation;
}

@keyframes jerking {
    0% {
        transform: translate(-2px,0);
    }
    25% {
        transform: translate(3px,0);
    }
    50% {
        transform: translate(-2px,0);
    }
    75% {
        transform: translate(3px,0);
    }
    100% {
        transform: translate(0px,0);
    }
}

@keyframes nameValidation {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

/*Class img*/
#defaultClassImg {
    display: block;
}
#mainerClassImg {
    display: none;
}
#witchClassImg {
    display: none;
}
#vampirClassImg {
    display: none;
}

/*Start items*/
#defaultItemImg1 {
    display: block;
}
#mainerItemImg1 {
    display: none;
}
#witchItemImg1 {
    display: none;
}
#vampirItemImg1 {
    display: none;
}


#defaultItemImg2 {
    display: none;
}
#mainerItemImg2 {
    display: none;
}
#witchItemImg2 {
    display: none;
}
#vampirItemImg2 {
    display: none;
}


#defaultItemImg3 {
    display: none;
}
#mainerItemImg3 {
    display: none;
}
#witchItemImg3 {
    display: none;
}
#vampirItemImg3 {
    display: none;
}


#defaultItemImg4 {
    display: none;
}
#mainerItemImg4 {
    display: none;
}
#witchItemImg4 {
    display: none;
}
#vampirItemImg4 {
    display: none;
}

.selectedShadow {
    box-shadow: 0 0 25px yellow;
}