.terminal-window {
    position: absolute;
    bottom: 25px;
    right: 0;
    width: 490px;
    height: 300px;
    transform: translateX(-50%);
    background-color: rgb(194, 194, 194);
    box-shadow: 0 0 25px rgb(112, 112, 112);
    background-image: url('../media/bg/deskBg.jpg');
    padding: 10px;
}

.terminal-window__inner {
    width: 100%;
    height: inherit;
    background-color: black;
}