.terminal-open {
    bottom: 115px !important;
}

.terminal-window {
    position: absolute;
    bottom: -490px;
    right: 0;
    width: 490px;
    min-height: 250px;
    transform: translateX(-50%);
    background-color: rgb(194, 194, 194);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.904);
    background-image: url('../media/bg/deskBg.jpg');
    padding: 10px;
    overflow: hidden;
    transition: .5s;
    z-index: 1;
}

.terminal-window__inner {
    max-width: 480px;
    background-color: black;
    padding: 5px;
    color: rgb(194, 194, 194);
}

.terminal-window__input-box {
    max-width: 100%;
    height: 220px;
    display: flex;
    gap: 10px;
}
.terminal-window__input-box>textarea {
    width: 100%;
    height: inherit;
    background: none;
    border: none;
    outline: none;
    color: rgb(194, 194, 194);
    white-space: pre-wrap;
    resize: none;
}

.terminal-tools {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.terminal-tools>p {
    color: rgb(194, 194, 194);
}

.terminal-close-btn {
    font-size: 35px;
    color: red;
}